.location {
  &__title {
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid $primary;
    margin: 96px 0px 65px;
    @include desktop {
      border-left: 4px solid $primary;
      margin: 60px 0px 50px;
    }
    @include mobile {
      font-size: 28px;
      padding-left: 8px;
    }
  }
  &__selection {
    display: flex;
    align-items: baseline;
    @include phone {
      display: block;
    }
    &__area {
      font-size: 24px;
      line-height: 30px;
      @include desktop {
        font-size: 16px;
      }
      @include mobile {
        font-size: 14px;
      }
    }
    &__select {
      width: 324px;
      // height: 45px;
      font-size: 18px;
      line-height: 26px;
      color: #495057;
      padding: 8px 20px 11px;
      margin-left: 20px;
      margin-bottom: 32px;
      @include desktop {
        width: 237px;
      }
      @include mobile {
        width: 277px;
        margin-left: 8px;
      }
      @include phone {
        margin-left: px;
      }
    }
  }

  &__more {
    display: flex;
    @include desktop {
      flex-wrap: wrap;
    }
    &__info {
      width: 43%;
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      margin-bottom: 100px;
      @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 32px;
      }
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0px;
        margin-bottom: 16px;
      }
    }
    &__img {
      width: 100%;
      height: 224px;
      object-fit: cover;
      @include desktop {
        height: 164px;
        width: 50%;
        margin-right: 30px;
      }
      @include mobile {
        width: 100%;
      }
    }

    &__map {
      width: 56%;
      margin-bottom: 160px;
      @include desktop {
        width: 100%;
        margin-bottom: 96px;
      }
      @include mobile {
        margin-bottom: 56px;
      }
    }

    &__iframe {
      width: 100%;
      height: 422px;
      @include mobile {
        height: 211px;
      }
    }
  }
}

.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 128px;
    @include desktop {
      margin-bottom: 76px;
    }
    @include mobile {
      justify-content: center;
      margin-bottom: 40px;
    }
  }
  &__item {
    width: 33.33%;
    padding-right: 30px;
    margin-bottom: 32px;
    &:hover {
      @include card-hover;
    }
    @include desktop {
      width: 50%;
      padding-right: 15px;
      &:nth-child(even) {
        padding-left: 15px;
        padding-right: 0px;
      }
    }
    @include mobile {
      width: 100%;
      padding-right: 0px;
      &:nth-child(even) {
        padding-left: 0px;
      }
    }
    &__img {
      width: 100%;
      height: 224px;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 36px;
    padding: 12px 24px;
    border: 1px solid #00000020;
    @include desktop {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 24px;
    }
  }
  &__body {
    border: 1px solid #00000020;
    font-size: 20px;
    line-height: 30px;
    padding: 16px 24px 8px;
    @include desktop {
      font-size: 14px;
      line-height: 21px;
    }

    &__tel {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        content: " ";
        width: 24px;
        height: 24px;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week4/icon-phone-black.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include desktop {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__time {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        content: " ";
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week4/icon-clock-black.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include desktop {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__address {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        content: " ";
        width: 24px;
        height: 24px;
        margin-right: 8px;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week4/icon-map.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @include desktop {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &__footer {
    width: 100%;
    font-size: 19px;
    line-height: 27px;
    background: #000;
    padding: 20px 0px;
    a {
      color: #fff;
      text-decoration: none;
      display: block;
    }
    &:hover {
      transition: all 0.5s;
      background: darken($color: $primary, $amount: 0);
      border: 0px;
    }
    @include desktop {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
